# Token, databases and logs
/Src/Database/DBFiles/
/Src/Bot/scrim_bot.log
/Src/Configs/secrets.json
/Src/Database/Disposable*/
/Src/Database/TestDBFiles/

# Virtual environment
/venv/
/DataFiles/

*__pycache__*
