# Token, databases and logs
/Src/Bot/secrets.json
/Src/Database/DBFiles/
/Src/Bot/scrim_bot.log
/Src/Database/Disposable*/
/Src/Database/TestDBFiles/

# Virtual environment
/venv/

# Learning rust atm and using the db data of the bot for some practice projects. Better exclude the unnecessary files
/Src/Database/RustTesting/
